@font-face {
  font-family: 'DIN 2014';
  src:
    url('https://db.onlinewebfonts.com/t/2a2b767302dad0d292294c13d63a0c5f.eot');
  src:
    url('https://db.onlinewebfonts.com/t/2a2b767302dad0d292294c13d63a0c5f.eot?#iefix') format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/2a2b767302dad0d292294c13d63a0c5f.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/2a2b767302dad0d292294c13d63a0c5f.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/2a2b767302dad0d292294c13d63a0c5f.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/2a2b767302dad0d292294c13d63a0c5f.svg#DIN 2014') format('svg');
}

:root {
  /* margin  e.g. calc(var(--unit) * 2) = 16px */
  --unit: 8px;

  /* color */
  --color-white: #fff;
  --color-vue-blue: #35495e;
  --color-vue-green: #42b983;

  --color-disabled: #C6CACF;

  /* gradation */
  --color-vue-green-gradation: linear-gradient(to right, #42b883, #41b8aa);

  /* box-shadow */
  --box-shadow: 0 2px 10px rgb(53, 73, 95, 0.14);

  /* font */
  --font-size-heading700: 2.813rem;
  --font-size-heading400: 1.75rem;
  --font-size-heading300: 1.5rem;
  --font-size-heading200: 1.25rem;
  --font-size-body400: 1.125rem;
  --font-size-body300: 1rem;
  --line-height-heading700: 3.376rem; /* 2.813 * 1.2 */
  --line-height-heading400: 3.15rem; /* 1.75 * 1.8 */
  --line-height-heading300: 2.7rem; /* 1.5 * 1.8 */
  --line-height-heading200: 2.25rem; /* 1.25 * 1.8 */
  --line-height-body400: 2.025rem; /* 1.125 * 1.8 */
  --line-height-body300: 1.8rem; /* 1 * 1.8 */ 

  /* markdown font */
  --markdown-font-size-h2: var(--font-size-heading300);
  --markdown-font-size-body: var(--font-size-body400);

  --markdown-line-height-h2: var(--line-height-heading300);
  --markdown-line-height-body: var(--line-height-body400);
}

html {
  font-family: 'din-2014', 'Yu Gothic Medium', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic',
    sans-serif;
}
