/* https://open-props.style/#getting-started */

@import '@vuejs-jp/css/base.css';
@import 'open-props/style';
@import './reset.css';

ul[role='list'],
ol[role='list'] {
  padding-inline-start: 0;
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.slide-down-enter-from,
.slide-down-leave-to {
  max-height: 0;
}

.slide-down-enter-to,
.slide-down-leave-from {
  max-height: calc(100vh - 71px);
}
