@import '@vuejs-jp/css/base.css';

/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--color-white);
  --vp-button-brand-bg: var(--color-asagi100);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--color-white);
  --vp-button-brand-hover-bg: var(--color-asagi200);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--color-white);
  --vp-button-brand-active-bg: var(--color-vue-blue);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--color-vue-green200) 30%,
    var(--color-vue-green100)
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--color-vue-green200) 50%,
    var(--color-vue-green100) 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}
